html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
}

.header-nav {
    position: absolute;
    width: 100%;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}

.social-links a:link, .social-links a:visited {
    color: white;
    text-decoration: none;
}

.social-links a:hover {
    color: #19d7e5;
    border-bottom: 1px solid white;
}

header {
    text-align: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(img-icons/glenn-carstens-peters-203007-unsplash\ 1.jpg);
    color: white;
}

h1 {
    padding-top: 35px;
    font-size: 22px;
}

.traits {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 35px;
    display: none;
}

.line-break {
    margin: auto;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(241, 238, 238, 0.75), rgba(0, 0, 0, 0));
}

.hero-section {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    font-size: 30px;
    width: 65vw;
    min-width: 320px;
    max-width: 900px;
}

.list-title {
    margin-bottom: 20px;
}

.view-projects-link {
    padding: 7px 18px;
    color: white;
    text-decoration: none;
}

.view-projects-link:hover {
    color: black;
}

.view-projects:hover {
    cursor: pointer;
}

.view-projects {
    border: 1px solid white;
    border-radius: 6px;
    background: none;
    margin-top: 50px;
    height: 30px;
}

.view-projects:hover {
    background-color: white;
    box-shadow: 0 0 10px 1px rgba(253, 253, 253, 0.925);
}

.web-dev {
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
}

.icons {
    width: 80px;
    height: 80px;
}

.social-icons {
    width: 45px;
    height: 45px;
}

.about-me {
    text-align: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(img-icons/dustin-lee-kZvmEpyfiJs-unsplash.jpg);
}

.about-me-2 {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
}

.portfolio {
    display: flex;
    margin-bottom: 30px;
    overflow-x: auto;
}

.swipe {
    text-align: center;
}

.project img {
    max-width: 100%;
}

.project {
    min-width: 100%;
    text-align: center;
    margin: 30px 50px 30px 0px;
}

.project-name {
    font-weight: bold;
}

.description {
    margin: 10px 0px;
}

.project-links {
    padding: 10px 18px;
    color: black;
}

.project-links:hover {
    color: white;
}

.project button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background: none;
    padding: 7px 0px;
    width: 70px;
}

.project a:link, .social-links a:visited {
    text-decoration: none;
}

.project button:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.project a:first-of-type button {
    margin-right: 40px;
}

footer {
    background: black;
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

.footer-links {
    color: #238e96;
    text-decoration: none;
}

li {
    padding-bottom: 10px;
}

ul {
    list-style: none;
}

.footer-section {
    margin-bottom: 20px;
    color: white;
}

.footer-section-title {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

@media screen and (max-height: 815px) and (max-width: 420px) {
    .icons {
        width: 38px;
        height: 38px;
    }

    .about-me-list {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 420px) and (max-width: 815px) {
    .icons {
        width: 38px;
        height: 38px;
    }

    .list-title {
        font-size: 18px;
    }
}

@media screen and (max-height: 380px) {
    .view-projects {
       margin-top: 0px;
    }
    .hero-text {
        font-size: 25px;
     }
}

@media screen and (min-width: 660px) {
    h1 {
        text-align: left;
        padding: 5px 5px;;
    }

    .social-links {
        justify-content: flex-end;
    }

    .social-links li {
        margin-right: 25px;
    }
}

@media screen and (min-width: 740px) {
    .traits {
        font-size: 70px;
    }

    .hero-section {
        text-align: end;
    }

    .view-projects {
        margin: auto;
    }
}

@media screen and (min-width: 1000px) {
    .portfolio {
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .project {
        min-width: 300px;
        width: 300px;
        display: inline-block;
        
    }

    .project-desc {
        padding: 10px 0px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    .footer-section {
        width: 300px;
        text-align: start;
        padding: 10px;
    }

    .footer-section-title {
        font-size: 20px;
    }
}