html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.header-nav {
    border-bottom: 1px solid black;
}

.social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header {
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    margin: auto;
    display: block;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 500px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.hero-section {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.web-dev {
    list-style-type: none;
}

.about-me {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    border-top: 1px solid black;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width: 420px) {
    .social-links {
        justify-content: flex-end;
    }

    .social-links li {
        margin-right: 20px;
    }
}

@media screen and (min-width: 700px) {
    .hero-section {
        display: flex;
        text-align: end;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text {
        margin-left: auto;
        margin-right: auto;
    }

    .view-projects {
        margin: auto;
        height: 30px;
    }
}

@media screen and (min-width: 1000px) {


    .portfolio {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .project {
        width: 300px;
        display: inline-block;
    }
}